<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On" redirectMode="ResponseRedirect">
      <error statusCode="401" redirect="~/Error?401" />
      <error statusCode="403" redirect="~/Error?403" />
      <error statusCode="404" redirect="~/Error?404" />
      <error statusCode="405" redirect="~/Error?405" />
      <error statusCode="406" redirect="~/Error?406" />
      <error statusCode="412" redirect="~/Error?412" />
      <error statusCode="500" redirect="~/Error?500" />
      <error statusCode="501" redirect="~/Error?501" />
      <error statusCode="502" redirect="~/Error?502" />
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" xdt:Transform="Replace" defaultPath="Error" defaultResponseMode="Redirect">
      <clear />
      <error statusCode="401" prefixLanguageFilePath="" path="Error?401" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="Error?403" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="Error?404" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="Error?405" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="Error?406" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="Error?412" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="Error?500" responseMode="Redirect" />
      <error statusCode="501" prefixLanguageFilePath="" path="Error?501" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="Error?502" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>

</configuration>