<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="~/error.htm" redirectMode="ResponseRewrite">
      <error statusCode="401" redirect="~/error401.htm" />
      <error statusCode="403" redirect="~/error403.htm" />
      <error statusCode="404" redirect="~/error404.htm" />
      <error statusCode="405" redirect="~/error405.htm" />
      <error statusCode="406" redirect="~/error406.htm" />
      <error statusCode="412" redirect="~/error412.htm" />
      <error statusCode="500" redirect="~/error500.htm" />
      <error statusCode="501" redirect="~/error501.htm" />
      <error statusCode="502" redirect="~/error502.htm" />
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" xdt:Transform="Replace">
      <clear />
      <error statusCode="401" prefixLanguageFilePath="" path="~/error401.htm" responseMode="File" />
      <error statusCode="403" prefixLanguageFilePath="" path="~/error403.htm" responseMode="File" />
      <error statusCode="404" prefixLanguageFilePath="" path="~/error404.htm" responseMode="File" />
      <error statusCode="405" prefixLanguageFilePath="" path="~/error405.htm" responseMode="File" />
      <error statusCode="406" prefixLanguageFilePath="" path="~/error406.htm" responseMode="File" />
      <error statusCode="412" prefixLanguageFilePath="" path="~/error412.htm" responseMode="File" />
      <error statusCode="500" prefixLanguageFilePath="" path="~/error500.htm" responseMode="File" />
      <error statusCode="501" prefixLanguageFilePath="" path="~/error501.htm" responseMode="File" />
      <error statusCode="502" prefixLanguageFilePath="" path="~/error502.htm" responseMode="File" />
    </httpErrors>
  </system.webServer>

</configuration>